.mobileWrap{
position: relative;
display: flex;
justify-content: center;
    width: 100%;
    @media screen and (max-width: 768px) {
        display:none;
    }
    .screen{
        width: 30%;
        height: 90vh;
        padding: 20px;
        border: 5px solid grey;
        border-radius: 10px;
        margin: 0 auto;
        @media screen and (max-width: 768px) {
            display:none;
        }
    }

}