.navbar{
    position: relative;
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-between;
    flex-flow: row;
    background: $base;
        .title{
            @include nav(center);
            width: 45%;

        }
        .links{
            
            position: relative;
            display: flex;
            justify-content: space-around;
            align-self: center;
            width: 45%;
            .linkItems{
                @include nav(center);
                width: 33%;
                text-decoration: none;

            }

        }

};