.navbar{
    position: fixed;
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-around;
    flex-flow: row;
    z-index: 2;
    background: $base1;
    @media only screen and (max-width: 600px) {
        position: fixed;
       

    }
    @media screen and (min-width: 600px) and (max-width: 768px) { 
        position: fixed;
        z-index: 2;
    
    }
    .title{
        @include nav(center);
        margin-left: 10px;
        width: 33%;
        align-self: center;
            text-decoration: none;
            @media only screen and (max-width: 600px) {
                font-size: .8rem;
  
            }
            @media screen and (min-width: 600px) and (max-width: 768px) { 
                font-size: 1.2rem;
            
            }
            &.active{
                color: white;
            }
            
            &:hover {color: white; transition: all .3s ease-in-out;}
        }
        .links{
            
            position: relative;
            display: flex;
            justify-content: space-evenly;
            align-self: center;
            width: 33%;
            margin: 0;
            margin-left: 10px;
            .linkItems{
                @include nav(center);
                width: 33%;
                flex-basis: 1;
                text-decoration: none;
                transition: opacity 1s ease-in;
                &.active{
                    color: white;
                }

                &:hover {color: white; transition: all .3s ease-in-out;}
                @media only screen and (max-width: 600px) {
                    font-size: .8rem;
                    margin: 0 10px;
                    padding: 0;
      
                }
                @media screen and (min-width: 600px) and (max-width: 768px) { 
                    font-size: 1.2rem;
                    margin: 0 10px;
                    padding: 0;
                }
            }

        }
        @media only screen and (max-width: 600px) {
              font-size: .75rem;

          }
        };
              .hidden{
                  opacity:0;

              }