.social {
    display:inline-flex;
    position: relative;
    justify-content:space-between;
    width:20%;
    align-self: center;
    padding:10px 10%;
    @media only screen and (max-width: 768px) {
       width: 75%;
       margin: 0;
       padding: 10px 0;
        

    }
    a{
        width: 10%;
    }
    svg{
        fill: $compliment-light;
        &:hover{
            fill: white;
            transition: all .3s ease-in-out;
        }
        @media only screen and (max-width: 768px) {
            width: 75px;
            

        }
        @media screen and (min-width: 600px) and (max-width: 768px) { 
            width: 75px;

        }
    }    
}