//colors
$base: #0384fc;
$base1: #092842;
$compliment : complement($base);
$compliment-light: lighten($compliment, 10%);
$mainFont1: 'Arvo', serif;
$mainFont2: 'Quattrocento Sans', sans-serif;
$mainFont3: 'Orbitron', sans-serif;
$mainFont4: 'Audiowide', cursive;
$mainFont5: 'Syncopate', sans-serif;
$mainFont6: 'Staatliches', cursive;
$mainFont7: 'Aldrich', sans-serif;
$mainFont8: 'Space Mono', monospace;
$mainFont9: 'Zilla Slab Highlight', cursive;
//fonts
$mainFont: 'Cabin', sans-serif;


@mixin nav ($position) {
    color: $compliment-light;
            font-size: 1.5rem;
            font-family: $mainFont1;
            align-items: $position;
}

@mixin default($height){
    position: relative;
    width: 100%;
    min-height: $height;
}
@mixin before{
    
opacity: 0;
transform: scale(0);


}
@mixin  anime {
    opacity: 1;
    transform: scale(1);

    transition: all 1.5s cubic-bezier(.25,.8,.25,1);
}

